* {
  margin: 0;
  padding: 0;
  line-height: 0;
}

body {
  background-color: #ccc;
  text-align: center;
}

.container {
  width: 600px;
  margin: 10px auto;
  border: 5px solid white;
  overflow: auto;
}

.thumb {
  width: 200px;
  float: left;
  border: 2px solid white;
  box-sizing: border-box;
}

.thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* to make animation (@keyframes) what animation?(fade) */
@keyframes fadeIn {
  /* to - the state will change to opacity */
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  /* forwards - the animation will end in the last state */
  /* the fade in is only occured once, you can inspect in elements. The fade is stay and we need to remove the fade 1st to make the other photos fade in. Check in JS */
  animation: fadeIn 0.5s forwards;
}
