* {
  border: 2px solid #dedede;
  padding: 15px;
  margin: 15px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 600px;
  margin: 30px auto;
  font-family: sans-serif;
  color: #333;
}

/* CSS please find p in the element with id b */
/* #b p {
  color: green;
} */

/* use CSS for code below for only 2nd li. But we know it's the second element in li. We can use pseudo class of nth-child */
/* li:nth-child(2) {
  background-color: orange;
} */
/* we can write the code above with more specific like below */
/* section#b ul li:nth-child(2) {
  background-color: orange;
} */
/* to read: CSS please find me li, it's 2nd child, inside ul, inside section element with id b */
/* the selector above: section#b ul li:nth-child(2) that we'll use in method querySelector in JS  */

/* both #b p & section#b ul li:nth-child(2) above we can also tweak in JS by using same selector */
