html,
body {
  height: 100%;
}

body {
  text-align: center;
}
.light-blue {
  background-color: lightblue;
}

.box {
  width: 25px;
  height: 25px;
  margin: 10px auto;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
